# dependencies
/node_modules
.pnpm-store/
.pnpm-debug.log*

# next.js
/.next/
/out/

# production
/build

# testing
/coverage

# env files
.env
.env.*

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# sidecar
.todos/
.sidecar/
