name: Validate

on:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - "docs/**"
      - "LICENSE"
      - ".gitignore"
      - ".dockerignore"
      - "example.env"
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main
    paths-ignore:
      - "*.md"
      - "docs/**"
      - "LICENSE"
      - ".gitignore"
      - ".dockerignore"
      - "example.env"

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up mise
        uses: jdx/mise-action@v3
        with:
          experimental: true

      - name: Install dependencies
        run: uv sync --locked --dev

      - name: Format check
        run: uv run ruff format --check .

      - name: Lint
        run: uv run ruff check .

      - name: Type-check
        run: uv run mypy .
